*{
    padding: 0;
    margin: 0;

}
body{
    background-color: cadetblue;
}
.container{
    width: 90%;
    max-width: 500px;
    text-align: center;
    background: chartreuse;
    justify-content: center;
    padding: 40px auto 0;
    margin: 200px auto 0;
    
}

.container h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
.button{
    align-items:center;
    display: flex;
    justify-content: center;
}
.button img{
    cursor: pointer;
    width: 50px;
    
}
